/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

.container {
  width: 93.3%;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.fz-sm {
  font-size: 14px;
}

.fw-bold {
  font-weight: 700;
}

.fz-warning {
  color: #E3006E;
}

.pt-1 {
  padding-top: 4px;
}

.pt-2 {
  padding-top: 8px;
}

.pt-3 {
  padding-top: 12px;
}

.pt-4 {
  padding-top: 16px;
}

.pt-8 {
  padding-top: 32px;
}

.pr-1 {
  padding-right: 4px;
}

.pr-3 {
  padding-right: 12px;
}

.pb-1 {
  padding-bottom: 4px;
}

.pb-4 {
  padding-bottom: 16px;
}

.pb-10 {
  padding-bottom: 40px;
}

.pb-20 {
  padding-bottom: 80px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-5 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-6 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-8 {
  padding-right: 32px;
  padding-left: 32px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-1 {
  padding: 4px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-8 {
  padding: 32px;
}

.m-auto {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 32px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-7 {
  margin-right: 28px;
}

.mr-8 {
  margin-right: 32px;
}

.mr-11 {
  margin-right: 44px;
}

.ml-1 {
  margin-right: 4px;
}

.ml-12 {
  margin-right: 48px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-7 {
  margin-bottom: 28px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mb-10 {
  margin-bottom: 40px;
}

.mb-11 {
  margin-bottom: 44px;
}

.mb-12 {
  margin-bottom: 48px;
}

.mb-13 {
  margin-bottom: 52px;
}

.mb-14 {
  margin-bottom: 56px;
}

.mb-15 {
  margin-bottom: 60px;
}

.mb-20 {
  margin-bottom: 80px;
}

.mb-38 {
  margin-bottom: 152px;
}

.mx-1 {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-6 {
  margin-right: 24px;
  margin-left: 24px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.d-block {
  display: block;
}

.d-inlineBlock {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainNav {
  width: 296px;
  min-height: 100vh;
  color: #000;
  background: #EDF4EE;
  padding: 32px;
}

.nav-item {
  color: #000;
  position: relative;
}

.nav-item:hover {
  color: #2A8356;
}

.nav-item:hover::before {
  content: "";
  width: 4px;
  height: 100%;
  background: #2A8356;
  position: absolute;
  left: -32px;
  bottom: 0px;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  font-weight: 700;
}

.user-email {
  font-size: 14px;
  color: #0000009A;
}

.active {
  color: #2A8356;
}

.active::before {
  content: "";
  width: 4px;
  height: 100%;
  background: #2A8356;
  position: absolute;
  left: -32px;
  bottom: 0px;
}

.position-re {
  position: relative;
}

main {
  width: 76.875%;
}

.pageName {
  font-size: 24px;
  font-weight: 700;
}

.menu {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.material-icons {
  color: #000;
}

.pageControl .page-item {
  width: 32px;
  height: 32px;
  text-align: center;
  border-top: 1px solid #2A8356;
  border-bottom: 1px solid #2A8356;
  border-left: 1px solid #2A8356;
}

.pageControl .page-item a {
  width: 32px;
  height: 32px;
}

.pageControl .page-item:last-child {
  border-right: 1px solid #2A8356;
}

.pageControl .page-item:hover {
  background: #2A8356;
}

.pageControl .page-item:hover a, .pageControl .page-item:hover span {
  color: #fff;
}

.pageControl .pageActive {
  background: #2A8356;
}

.pageControl .pageActive a {
  color: #fff;
}

.modal {
  background: #00000062;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
}

.modal-center {
  width: 480px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-center-lg {
  height: 87.5%;
  overflow-y: auto;
}

.prsonal-photo {
  width: 141px;
  height: 141px;
}

.prsonal-photo > img {
  height: 100%;
}

.information {
  width: 251px;
}

.information-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.information-email {
  font-size: 14px;
  color: #0000009A;
}

.information-everified {
  font-size: 14px;
}

.delete-block {
  display: none;
}

.add-transform {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.add-reTransform {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formBlock {
  border-bottom: 1px solid #CDDDCD;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
}

.textBox-style {
  color: #000;
  background: #EDF4EE;
  border: none;
}

.selectBox-style {
  width: 100%;
  padding: 16px;
}

.btn-clear {
  border: none;
  background: none;
}

.btn {
  color: #2A8356;
  border: 1px solid #2A8356;
  padding: 8px 32px;
  border-radius: 4px;
}

.btn:hover {
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-lg {
  width: 100%;
  color: #2A8356;
  background: none;
  padding: 16px 0;
  border: 1px solid #2A8356;
}

.btn-lg:hover {
  color: #fff;
  background: #2A8356;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-secondary {
  color: #fff;
  background: #2A8356;
}

.btn-secondary:hover {
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
}

.btn-warning {
  color: #E3006E;
  border: 1px solid #E3006E;
}

.btn-warning:hover {
  color: #fff;
  background: #E3006E;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.btn-disabled {
  color: #CDDDCD;
  border: 1px solid #CDDDCD;
}

.icon-secondary {
  color: #2A8356;
}

.icon-warning {
  color: #E3006E;
}

.assignment {
  width: 34.86%;
}

.assignment .active {
  background: #EDF4EE;
}

.assignment-item {
  border-right: 1px solid #CDDDCD;
  border-bottom: 1px solid #CDDDCD;
  border-left: 1px solid #CDDDCD;
}

.assignment-item:first-child {
  border-top: 1px solid #CDDDCD;
}

.assignment-item:hover {
  background: #EDF4EE;
}

.assignment .posted-name {
  color: #0000009A;
}

.assignment-title, .tiem, .posted-name {
  color: #000;
  font-size: 12px;
}

.assignment-text {
  color: #000;
  font-weight: 700;
}

.comments {
  font-size: 12px;
  color: #707070;
}

.assignment-content {
  width: 63.616%;
  position: relative;
}

.assignment-content .content-title {
  background: #EDF4EE;
  border: 1px solid #CDDDCD;
}

.assignment-content .border-darkprimary {
  border-right: 1px solid #CDDDCD;
  border-bottom: 1px solid #CDDDCD;
  border-left: 1px solid #CDDDCD;
}

.assignment-content .name {
  font-weight: 700;
}

.assignment-content .content-text {
  font-size: 14px;
}

.assignment-content .attach_file {
  width: 176px;
  color: #000;
  font-weight: 700;
  border: 1px solid #CDDDCD;
  background: #EDF4EE;
}

.assignment-content .text-block {
  border-bottom: 1px solid #CDDDCD;
}

.assignment-content .list-style {
  text-indent: 2rem;
  list-style: disc;
}

.assignment-content .replyWindows {
  width: 100%;
  background: #fff;
  border: 1px solid #CDDDCD;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none;
}

.assignment-content .tool-Tabel {
  background: #EDF4EE;
  border-bottom: 1px solid #CDDDCD;
}

.assignment-content .tool-Tabel a {
  height: 24px;
}

.assignment-content .body-text {
  color: #000;
  font-weight: 700;
}

.assignment-content .reply-center {
  width: 100%;
  height: 200px;
  padding: 16px;
  border: none;
}

.table-style {
  width: 100%;
  text-align: left;
}

.table-style .borderHead {
  border-bottom: 1px solid #000;
}

.table-style .tableTitle {
  font-weight: 700;
}

.table-style .tableTitle > a {
  color: #000;
}

.table-style .table tr {
  border-bottom: 1px solid #CDDDCD;
}

.table-style .table tr:hover {
  background: #EDF4EE;
}

.table-style .table th, .table-style .table td {
  vertical-align: top;
  padding: 16px 0;
}

.icon-sm-secondary {
  font-size: 12px;
  font-weight: 700;
  color: #2A8356;
}
/*# sourceMappingURL=main.css.map */