
.pageName{
    font-size: $fontSize-lg;
    font-weight: $fontWeight-Bold;
}

.menu{
    color: #000;
    font-size: $fontSize-base;
    font-weight: $fontWeight-Bold;
}

.material-icons{
    color: #000;
}

// .icon-secondary{
//     color: $secondary;
// }