
*, *::after, *::before{
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    font-family: 'Lato', sans-serif;
    // font-family: 'Roboto Mono', monospace;
    font-size: $fontSize-base; //16px
    line-height: 1.5;
}

main{
    width: 76.875%;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.3;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a{
    color: #000;
    text-decoration: none;
    display: block;
}


//container
.container{
    max-width: 984px;
    padding: 0 32px;
    margin: 0 auto;
}
