//-------font-size---------
$fontSize-base: 16px;//(使用rem)
$fontSize-xs: 12px;
$fontSize-sm: 14px;
$fontSize-md: 20px;
$fontSize-lg: 24px;

//-----font-weight----------
$fontWeight-Regular: 400;
$fontWeight-Medium: 500;
$fontWeight-Bold: 700;
$fontWeight-Black: 900;

//-------color----------
$primary: #EDF4EE;              //主色
$secondary: #2A8356;            //次要色
$darkprimary: #CDDDCD;         //深主色
$lightprimary:#EDF4EE;        //淺主色
$warning: #E3006E;             //警告色
$modal-bg: #00000062;         //modal被景色


//-------spacing---------
$spacing-1: 4px;



